<div class="navbar-wagon">
  <!-- Logo -->
    <div class="contain">
      <div class="burger">
        <span id="top-bun">
          <span id="seeds"></span>
        </span>
        <span id="lettuce-tom"></span>
        <span id="melt"><span id="extra-melt"></span></span>
      </div>
        <div class="menu">
        <ul class="nav">
          <a href="<%= root_path %>"><li>Home</li></a>
          <a href="<%= restaurant_path(@random) %>"><li>Random</li></a>
          <a href=""><li>Fat</li></a>
          <a href=""><li>Healthy</li></a>
        </ul>
        </div>
    </div>
 <a href="<%= new_restaurant_path %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>

